<div class="container">
  <div class="centered">
  <chess-white-square>
  <chess-black-square>
  <table class="chess-board">
   <tbody>
    <tr>
     <th></th>
     <th>a</th>
     <th>b</th>
     <th>c</th>
     <th>d</th>
     <th>e</th>
     <th>f</th>
     <th>g</th>
     <th>h</th>
    </tr>
    <tr>
     <th>8</th>
     <td [style]="whiteColor" id="a8"></td>
     <td [style]="blackColor" id="a8"></td>
     <td [style]="whiteColor" id="c8"></td>
     <td [style]="blackColor" id="d8"></td>
     <td [style]="whiteColor" id="e8"></td>
     <td [style]="blackColor" id="f8"></td>
     <td [style]="whiteColor" id="g8"></td>
     <td [style]="blackColor" id="h8"></td>
    </tr>
    <tr>
     <th>7</th>
     <td [style]="blackColor" id="a7"></td>
     <td [style]="whiteColor" id="b7"></td>
     <td [style]="blackColor" id="c7"></td>
     <td [style]="whiteColor" id="d7"></td>
     <td [style]="blackColor" id="e7"></td>
     <td [style]="whiteColor" id="f7"></td>
     <td [style]="blackColor" id="g7"></td>
     <td [style]="whiteColor" id="h7"></td>
    </tr>
    <tr>
     <th>6</th>
     <td [style]="whiteColor" id="a6"></td>
     <td [style]="blackColor" id="b6"></td>
     <td [style]="whiteColor" id="c6"></td>
     <td [style]="blackColor" id="d6"></td>
     <td [style]="whiteColor" id="e6"></td>
     <td [style]="blackColor" id="f6"></td>
     <td [style]="whiteColor" id="g6"></td>
     <td [style]="blackColor" id="h6"></td>
    </tr>
    <tr>
     <th>5</th>
     <td [style]="blackColor" id="a5"></td>
     <td [style]="whiteColor" id="b5"></td>
     <td [style]="blackColor" id="c5"></td>
     <td [style]="whiteColor" id="d5"></td>
     <td [style]="blackColor" id="e5"></td>
     <td [style]="whiteColor" id="f5"></td>
     <td [style]="blackColor" id="g5"></td>
     <td [style]="whiteColor" id="h5"></td>
    </tr>
    <tr>
     <th>4</th>
     <td [style]="whiteColor" id="a4"></td>
     <td [style]="blackColor" id="b4"></td>
     <td [style]="whiteColor" id="c4"></td>
     <td [style]="blackColor" id="d4"></td>
     <td [style]="whiteColor" id="e4"></td>
     <td [style]="blackColor" id="f4"></td>
     <td [style]="whiteColor" id="g4"></td>
     <td [style]="blackColor" id="h4"></td>
    </tr>
    <tr>
     <th>3</th>
     <td [style]="blackColor" id="a3"></td>
     <td [style]="whiteColor" id="b3"></td>
     <td [style]="blackColor" id="c3"></td>
     <td [style]="whiteColor" id="d3"></td>
     <td [style]="blackColor" id="e3"></td>
     <td [style]="whiteColor" id="f3"></td>
     <td [style]="blackColor" id="g3"></td>
     <td [style]="whiteColor" id="h3"></td>
    </tr>
    <tr>
     <th>2</th>
     <td [style]="whiteColor" id="a2"></td>
     <td [style]="blackColor" id="b2"></td>
     <td [style]="whiteColor" id="c2"></td>
     <td [style]="blackColor" id="d2"></td>
     <td [style]="whiteColor" id="e2"></td>
     <td [style]="blackColor" id="f2"></td>
     <td [style]="whiteColor" id="g2"></td>
     <td [style]="blackColor" id="h2"></td>
    </tr>
    <tr>
     <th>1</th>
     <td [style]="blackColor" id="a1"></td>
     <td [style]="whiteColor" id="b1"></td>
     <td [style]="blackColor" id="c1"></td>
     <td [style]="whiteColor" id="d1"></td>
     <td [style]="blackColor" id="e1"></td>
     <td [style]="whiteColor" id="f1"></td>
     <td [style]="blackColor" id="g1"></td>
     <td [style]="whiteColor" id="h1"></td>
    </tr>
   </tbody>
  </table>
  </chess-black-square>  
  </chess-white-square>
  </div>
 </div>
